doctype html
html
	head
		title
			| Node Collaborative Drawing
		link(rel='stylesheet', href='stylesheets/style.css')
		script(src='/socket.io/socket.io.js')
		script(src='javascript/jquery-2.1.1.js')
		script(src='javascript/script.js')
	
	body
		//TODO: Add a conditional to include either canvas.jade or instructions.jade
		// based on a javascript variable that is passed to the render command in your node server
				