	@font-face {
	font-family: 'BDCartoonShoutRegular';
	src: url('BD_Cartoon_Shout-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	}
	
	h1 { 
	font-family: BDCartoonShoutRegular; 
	text-align:center;
	color: #F4491C;
	}

	h2 {  
	text-align:left;
	color: #F4491C;
	}
	
	p {
	font-size: 1.2em;
	}

	body { 
	width:342px; 
	margin:0px auto; 
	font-family:sans-serif; 
	float:left; 
	color:#FBF9F7;
	margin-left: 50px
	}

	#pacman {
	height:450px;
	width:342px;
	float: left;
	position: absolute;
	left: 400px;
	top: 0px;
	}

	#logo {
	position: absolute;
	left:1040px;
	top:20px;
	}
	
	#developerpage{
	position: absolute;
	left:60px;
	top:625px;
	}
	
	#sourcecode{
	position: absolute;
	left:200px;
	top:625px;
	}

	/* High Score Table */

	#table{
	vertical-align: baseline;
	outline: none;
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 62.5%;
	line-height: 1;
	padding: 22px 10px;
	padding-bottom: 55px;
	position: absolute;
	left: 925px;
	top: 150px;
	}

	#title { 
	font-family: BDCartoonShoutRegular; 
	color: #F4491C;
	font-weight: bold;
	font-size: 3em;
	line-height: 1.7em;
	margin-bottom: 10px;
	text-align: center;
	}

	#keywords {
	margin: 0 auto;
	font-size: 2em;
	margin-bottom: 15px;
	}

	#keywords thead {
	background: #c9dff0;
	}

	#keywords thead tr th { 
	font-weight: bold;
	padding: 12px 30px;
	padding-left: 42px;
	}

	#keywords thead tr th span { 
	padding-right: 20px;
	background-repeat: no-repeat;
	background-position: 100% 100%;
	}

	#keywords tbody tr td {
	text-align: center;
	padding: 15px 10px;
	}
	#keywords tbody tr td.lalign {
	text-align: left;
	}

	#nameTable {
		color:#15256C;
	}

	#scoreTable{
		color:#15256C;
	}

	img.hidden {
    visibility: hidden;
	}

