
	body{
		font-family: 'Open Sans', sans-serif;
		line-height: 1.85em;
		font-weight: 300;
		font-size: 13pt;
	}

	a{
		color: blue;
		text-decoration: underline;
	}
	
		a:hover
		{
			color: red;
		}	

	h1{
		font-weight: 300;
	    font-size: 3em;
		letter-spacing: -0.025em;
		margin: 0 0 0.75em 0;
	}
	
	strong{
		font-weight: 600;
	}
	
	.image{
		display: inline-block;
		width: 100%;
		margin: 0 0 3em 0;
	}
	
		.image img{
			display: block;
			width: 100%;
		}

	.wrapper{
		box-shadow: none;
		padding-top: 3em;
	}

	#top{
		text-align: left;
		-webkit-columns: 100px 3;
	}

		#top .me{
			border-radius: 100%;
			overflow: hidden;
			width: 18em;
			height: 18em;
		}

		#top p{
			font-size: 1em;
			line-height: 1.75em;
		}

	#title{
	  position: relative;
	  top: 50px;
	  left: 270px;
	}
	
	#center{
	  position: absolute;
	  top: 50px;
	  left: 1100px;
	}
	
	#foot{
	  position: absolute;
	  top: 700px;
	  left: -1000px;
	}
	
