
	body{
	font-family: 'Open Sans', sans-serif;
	line-height: 1.85em;
	font-weight: 300;
	font-size: 13pt;
	}

	h1{
	font-weight: 300;
	font-size: 3em;
	letter-spacing: -0.025em;
	margin: 0 0 0.75em 0;
	}

	strong{
	font-weight: 600;
	}

	.image{
	display: inline-block;
	width: 100%;
	margin: 0 0 3em 0;
	border-radius: 100%;
	overflow: hidden;
	width: 18em;
	height: 18em;
	}

	.image img{
	display: block;
	width: 100%;
	}

	.wrapper{
	box-shadow: none;
	padding-top: 3em;
	}

	#top{
	text-align: left;
	-webkit-columns: 100px 3;
	}

	#top p{
	font-size: 1em;
	line-height: 1.75em;
	}

	#title{
	position: relative;
	top: 50px;
	left: 270px;
	}

	#return {
	position: absolute;
	top: 50px;
	left: 1100px;
	}
	
	#foot {
	position: absolute;
	top: 750px;
	left: 50px;
	}

	.willard:hover {
	content: url('../images/blue.jpg');
	}

	.dan:hover {
	content: url('../images/red.jpg');
	}

	.naden:hover {
	content: url('../images/pink.jpg');
	}

